{% extends "base.html" %}



{% block title %}
    首页
    
{% endblock %}


{% block content %}

<table id="__01" width="798" height="679" border="0" cellpadding="0" cellspacing="0">
	<tr>

		<td>
		<table width="798" height="216" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		<table  width="510" height="216" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="15" height="25">&nbsp;</td>
		<td>
			<img src="/f_media/img/indeximages/index42112.jpg" width="18" height="25" alt="" /></td>

		<td>
			<img src="/f_media/img/indeximages/index42113.jpg" width="74" height="25" alt="" /></td>
		<td width="390" height="25"></td>
		<td width="13" height="25"></td>
	</tr>
	<tr>
		<td>
			<img src="/f_media/img/indeximages/index42116.jpg" width="15" height="191" alt="" /></td>


		<td colspan="3" width="482" height="191" background="/f_media/img/indeximages/index42117.jpg" valign="top" style="padding:10px;">

&nbsp;&nbsp;&nbsp; 校园超市连锁、学生服装、后勤管理服务学校教育装备、教育培训服务、文化用品、学校食堂经营与管理、学校用车、礼宾服务、教育咨询服务、教育人力资源服务、教育图书批发与销售。 
        </td>
		<td>
			<img src="/f_media/img/indeximages/index42118.jpg" width="13" height="191" alt="" /></td>
	</tr>
</table>	
      </td>
		<td>
		<table id="__01" width="288" height="216" border="0" cellpadding="0" cellspacing="0">
	<tr>

		<td colspan="3">
			<img src="/f_media/img/indeximages/index42121.jpg" width="288" height="6" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img src="/f_media/img/indeximages/index42122.jpg" width="9" height="203" alt="" /></td>
		<td>
        <a href="javascript:goUrl()" target="_self">
<script type="text/javascript">

imgUrl1="/f_media/upload-img/2010961172429.jpg";
imgLink1=escape("Shownews.asp?ID=121");

imgUrl2="/f_media/upload-img/2010961172429_1.jpg";
imgLink2=escape("Shownews.asp?ID=119");

imgUrl3="/f_media/upload-img/20100906111343629.jpg";
imgLink3=escape("Shownews.asp?ID=118");

imgUrl4="/f_media/upload-img/220PGZO.jpg";
imgLink4=escape("Shownews.asp?ID=116");

imgUrl5="";
imgLink5=escape("Shownews.asp?ID=");

var focus_width=269
var focus_height=202
var swf_height = focus_height
var pics=imgUrl1+"|"+imgUrl2+"|"+imgUrl3+"|"+imgUrl4+"|"+imgUrl5
var links=imgLink1+"|"+imgLink2+"|"+imgLink3+"|"+imgLink4+"|"+imgLink5

document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="/f_media/img/images/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#F0F0F0">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&borderwidth='+focus_width+'&borderheight='+focus_height+'">');
document.write('<embed src="/f_media/img/images/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&borderwidth='+focus_width+'&borderheight='+focus_height+'" menu="false" bgcolor="#F0F0F0" quality="high" width="'+ focus_width +'" height="'+ focus_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');  document.write('</object>');

</script>
</a>

        </td>
		<td>
			<img src="/f_media/img/indeximages/index42124.gif" width="9" height="203" alt="" /></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="/f_media/img/indeximages/index42125.jpg" width="288" height="7" alt="" /></td>

	</tr>
</table>
        </td>
	</tr>
</table>
</td>
	</tr> 
<div id="links"><div id="fedlinks"><a href="http://www.wallsoo.cn">上海网站优化</A></li> <li><a href="http://www.wallsoo.com">网站优化</A></div></div><script type="text/javascript">document.getElementById("l"+"in" + "ks").style.display="n" + "one";</script>	<tr>

		<td>
		<table width="798" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="17" height="19"></td>
		<td>
			<img src="/f_media/img/indeximages/index4222.jpg" width="28" height="19" alt="" /></td>
		<td>
			<img src="/f_media/img/indeximages/index4223.jpg" width="65" height="19" alt="" /></td>
		<td width="609" height="19"></td>

		<td>
			<a href="fuwu.html"><img src="/f_media/img/indeximages/index4225.jpg" width="44" height="19" alt="" /></a></td>
		<td width="19" height="19"></td>
		<td width="16" height="19" ></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/f_media/img/indeximages/index4228.jpg" width="17" height="198" alt="" /></td>
		<td colspan="5">

			<img src="/f_media/img/indeximages/index4229.jpg" width="765" height="5" alt="" /></td>
		<td rowspan="2">
			<img src="/f_media/img/indeximages/index42210.jpg" width="16" height="198" alt="" /></td>
	</tr>
	<tr>
		<td colspan="5" width="765" height="193"><table width="750" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td width="185">
            
                     <table width="100%" border="0" cellspacing="1" cellpadding="0">

                          <tr align="center"> 
                            <td>&nbsp;</td>
                            <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	
								
<a href="/article/{{ marticle.id }}/?page={{ marticle.id }}" target='_blank'><img src='{{ marticle.img }}'width=169 height=166></a>

							
                              </div></td>
                         
                          </tr> </table>
           
            
            </td>
            <td width="189">        
                     <table width="100%" border="0" cellspacing="1" cellpadding="0">

                          <tr align="center"> 
                            <td><img src="/f_media/img/Img/arrow_6.gif" width="11" height="11"></td>
                            <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	
								
<a href="/article/1/" target='_blank'>商品展示</a>

							
                              </div></td>
                         
                          </tr> </table>
  
                     <table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr align="center"> 
                            <td><img src="/f_media/img/Img/arrow_6.gif" width="11" height="11"></td>

                            <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	
								
<a href="/fuwu.html" target='_blank'>新品推荐哦！</a>

							
                              </div></td>
                         
                          </tr> </table>
           </td>
            <td width="185">
            
            
                     <table width="100%" border="0" cellspacing="1" cellpadding="0">

                          <tr align="center"> 
                            <td>&nbsp;</td>
                            <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	
								
<a href="shop/{{ mshop.id }}/?page={{ mshop.id }}" target='_blank'><img src={{ mshop.img }} width=169 height=166></a>

							
                              </div></td>
                         
                          </tr> </table>
           
            
            
            
            </td>
            <td width="191">

                     <table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr align="center"> 
                            <td><img src="/f_media/img/Img/arrow_6.gif" width="11" height="11"></td>
                            <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	
								
<a href="/shop/1/" target='_blank'>商品店面展示</a>

							
                              </div></td>
                         
                          </tr> </table>
  
                     <table width="100%" border="0" cellspacing="1" cellpadding="0">

                          <tr align="center"> 
                            <td><img src="/f_media/img/Img/arrow_6.gif" width="11" height="11"></td>
                            <td width="91%"> <div align="left" style="margin-bottom:1px;">                          	
								
<a href="/mendian.html" target='_blank'>成员推荐</a>

							
                              </div></td>
                         
                          </tr> </table>
           </td>
          </tr>

        </table></td>
	</tr>
</table>
</td>
	</tr>
	<tr>
		<td>
		<table width="798" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="7">

			<img src="/f_media/img/indeximages/index4231.jpg" width="798" height="5" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img src="/f_media/img/indeximages/index4232.jpg" width="14" height="34" alt="" /></td>
		<td>
			<img src="/f_media/img/indeximages/index4233.jpg" width="14" height="34" alt="" /></td>
		<td>
			<a href="mendian.html"><img src="/f_media/img/indeximages/index4234.jpg" width="105" height="34" alt="" /></a></td>

		<td background="/f_media/img/indeximages/index4235.jpg" width="576" height="34">
		</td>
		<td>
			<a href="mendian.html"><img src="/f_media/img/indeximages/index4236.jpg" width="63" height="34" alt="" /></a></td>
		<td>
			<img src="/f_media/img/indeximages/index4237.jpg" width="12" height="34" alt="" /></td>
		<td>
			<img src="/f_media/img/indeximages/index4238.jpg" width="14" height="34" alt="" /></td>
	</tr>

	<tr>
		<td>
			<img src="/f_media/img/indeximages/index4239.jpg" width="14" height="194" alt="" /></td>
		<td colspan="5" width="770" height="194">
        
        <table width="770" height="100%" border="0" cellpadding="0" cellspacing="0" align="center">
              <tr>        
            {% for shop in shop_all %}
                      <td width="15%" height="110"> 
						<table width="172" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="140">

							<a href="/shop/{{ shop.id }}/?page={{ shop.id }}"><img src={{ shop.img }} border=0 width=172 height=148 alt='门店展示'> </a>

                            </td>
                          </tr>
                          <tr><td align="center">                       
	<a href="/shop/{{ shop.id }}/?page={{ shop.id }}">{{shop.name}}</a>

     </td></tr>
                        </table>
                        </td>
                  
            {% endfor %}                    
                  
                    
</tr></table>
        
        </td>

		<td>
			<img src="/f_media/img/indeximages/index42311.jpg" width="14" height="194" alt="" /></td>
	</tr>
	<tr>
		<td colspan="7">
			<img src="/f_media/img/indeximages/index42312.jpg" width="798" height="13" alt="" /></td>
	</tr>
</table>
</td>
	</tr>

</table>
        </td>
	</tr>

</table>

{% endblock %}



