{% extends "base.html" %}

{% block title %}公司简介{% endblock %}


{% block content %}
<td valign="top"><table  width="780" height="670" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="15" height="25">&nbsp;</td>
            <td width="20"><img src="/f_media/img/indeximages/index42112.jpg" width="18" height="25" alt="" /></td>
            <td width="223"><img src="/f_media/img/indeximages/index42113.jpg" width="74" height="25" alt="" /></td>

            <td width="509" height="25"></td>
            <td width="13" height="25"></td>
          </tr>
          <tr>
            <td valign="top"><img src="/f_media/img/indeximages/index42116.jpg" width="15" height="191" alt="" /></td>
            <td colspan="3" height="600" style="background:url(/f_media/img/indeximages/index42117.jpg); background-repeat:repeat-x; padding-top:15px;"  background="" valign="top">
            <P>&nbsp;公司简介</P>
<P align=center><IMG border=0 src="/f_media/upload-img/jianjie.jpg"></P>
<P>校园超市连锁、学生服装、后勤管理服务学校教育装备、教育培训服务、文化用品、学校食堂经营与管理、学校用车、礼宾服务、教育咨询服务、教育人力资源服务、教育图书批发与销售。</P>                
            </td>

            <td valign="top"><img src="/f_media/img/indeximages/index42118.jpg" width="13" height="191" alt="" /></td>
          </tr>
        </table>
</td>
  </tr>
</table>


{% endblock %}
