{% extends "base.html" %}

{% block title %}联系我们{% endblock %}


{% block content %}

<td valign="top"><table  width="780" height="670" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="15" height="25">&nbsp;</td>
            <td width="20"><img src="/f_media/img/indeximages/index42112.jpg" width="18" height="25" alt="" /></td>
            <td width="223"><font color="#0099FF"><strong>联系我们</strong></font></td>

            <td width="509" height="25"></td>
            <td width="13" height="25"></td>
          </tr>
          <tr>
            <td valign="top"><img src="/f_media/img/indeximages/index42116.jpg" width="15" height="191" alt="" /></td>
            <td colspan="3" height="600" style="background:url(/f_media/img/indeximages/index42117.jpg); background-repeat:repeat-x;padding-top:15px;"  background="" valign="top">
            <P><FONT style="FONT-SIZE: 14pt">电话：xxx—xxxxxxxx传真：xxx—xxxxxxxx</FONT></P>
<P><FONT style="FONT-SIZE: 14pt">手机：xxxxxxxxxx</FONT></P>

<P><FONT style="FONT-SIZE: 14pt">QQ：xxxxxxxxx</FONT></P>
<P><FONT style="FONT-SIZE: 14pt">电子信箱：xxxxxxxx@xxx.com</FONT></P>
<P><FONT style="FONT-SIZE: 14pt">地址：xxxxxxxx<BR></FONT></P>
<P><FONT style="FONT-SIZE: 14pt">邮编&nbsp; xxxxx<BR></FONT></P>
<P><FONT style="FONT-FAMILY: Verdana; FONT-SIZE: 14pt"></FONT>&nbsp;</P>
<P></P>
<DIV></DIV>
<DIV style="DISPLAY: none" id=d_con2>&nbsp;</DIV>
<DIV style="DISPLAY: none" id=d_con4>&nbsp;</DIV>
<DIV></DIV>                
            </td>

            <td valign="top"><img src="/f_media/img/indeximages/index42118.jpg" width="13" height="191" alt="" /></td>
          </tr>
        </table>
</td>


{% endblock %}
