<html>
<body>


<table width="100%" >
    
      <img src="/f_media/img/logo.jpg" width="100%" height="65%"/>
    
</table>
<table width="100%" border="1">
    <td><a href ="/" target ="showframe"><img border="0" src="/f_media/img/index0.gif" width="100%" height="100%"/></a></td>
    <td><a href ="/jianjie.html" target ="showframe"><img border="0" src="/f_media/img/index1.gif" width="100%" height="100%"/></a></td>
    <td><a href ="/wenhua.html" target ="showframe"><img border="0" src="/f_media/img/index2.gif" width="100%" height="100%"/></a></td>
    <td><a href ="/guanli.html" target ="showframe"><img border="0" src="/f_media/img/index3.gif" width="100%" height="100%"/></a></td>
    <td><a href ="/mendian.html" target ="showframe"><img border="0" src="/f_media/img/index4.gif" width="100%" height="100%"/></a></td>
    <td><a href ="/fuwu.html" target ="showframe"><img border="0" src="/f_media/img/index5.gif" width="100%" height="100%"/></a></td>
    <td><a href ="/liuyan.html" target ="showframe"><img border="0" src="/f_media/img/index6.gif" width="100%" height="100%"/></a></td>
    <td><a href ="/jiameng.html" target ="showframe"><img border="0" src="/f_media/img/index7.gif" width="100%" height="100%"/></a></td>
    <td><a href ="/lianxi.html" target ="showframe"><img border="0" src="/f_media/img/index8.gif" width="100%" height="100%"/></a></td>
</table>

</body>
</html>

