{% extends "base.html" %}

{% block title %}企业文化{% endblock %}


{% block content %}


		<td valign="top"><table  width="780" height="670" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="15" height="25">&nbsp;</td>
            <td width="20"><img src="/f_media/img/indeximages/index42112.jpg" width="18" height="25" alt="" /></td>
            <td width="223"><font color="#0099FF"><strong>企业文化</strong></font></td>

            <td width="509" height="25"></td>
            <td width="13" height="25"></td>
          </tr>
          <tr>
            <td valign="top"><img src="/f_media/img/indeximages/index42116.jpg" width="15" height="191" alt="" /></td>
            <td colspan="3" height="600" style="background:url(/f_media/img/indeximages/index42117.jpg); background-repeat:repeat-x;padding-top:15px;"  background="" valign="top">
            <P><FONT style="FONT-SIZE: 14px"><STRONG>一翁宗旨：</STRONG>服务教育　服务师生 服务社会</FONT></P>
<P><FONT style="FONT-SIZE: 14px"><STRONG>一翁精神：</STRONG>诚信　务实 求是　高效 </FONT></P>

<P><FONT style="FONT-SIZE: 14px"><STRONG>一翁口号：</STRONG>以人为本 服务为先　宾客至上 务实便捷<STRONG> </STRONG></FONT></P>
<P><FONT style="FONT-SIZE: 14px"><STRONG>一翁誓言：</STRONG>大爱无疆——热爱师生，热爱工作，爱洒校园；</FONT></P>
<P><FONT style="FONT-SIZE: 14px"><STRONG></STRONG>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;服务有恒——持之以恒，百折不挠，排忧解难；</FONT></P>
<P><FONT style="FONT-SIZE: 14px"><STRONG></STRONG>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 精诚逐信——精诚自信，同心同德，一往无前。<STRONG> </STRONG></FONT></P>
<P><FONT style="FONT-SIZE: 14px"><STRONG>一翁目标：</STRONG>打造四川教育服务平台　开创一翁教育服务未来 </FONT></P>

<P><FONT style="FONT-SIZE: 14px"><STRONG>一翁承诺：</STRONG>诚实守信 服务第一　同心同德 快捷便利<STRONG>　</STRONG></FONT> </P>                
            </td>
            <td valign="top"><img src="/f_media/img/indeximages/index42118.jpg" width="13" height="191" alt="" /></td>
          </tr>
        </table>
</td>
  </tr>
</table>

{% endblock %}
